@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Sacramento&display=swap');

.heading{
    margin-top: 0;
    text-align: center;
    padding: 0 0 20px 0;
    color: #FFB9B9;
}
body{
    background-image: url(bg-img.jpg);
    /* background-repeat: no-repeat; */
    background-size: auto;
    font-family: 'Poppins' ,sans-serif ;
}

.button{
    width: 80%;
}
.main form{
    padding: 0 40px;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.text{
    color: white;
    position: relative;
    border-bottom: 2px solid rgba(251, 251, 235, 0.66);
    margin: 30px 0;
}

.text input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
}
.img{
    float: left;
    position: relative;
    padding-left: 80px;
}

.SI{
    color: #F0DBDB;
}